.moves {
	display: flex;
	flex-direction: column;
}
.movie-row {
	text-decoration: none;
	display: flex;
	justify-content: left;
	align-items: center;
}
.movie-name {
	font-size: 2em;
	font-weight: bold;
	color: goldenrod;
}